<?xml version="1.0" encoding="UTF-8"?>
<module>
    <identity>
        <uri>urn:uk:ac:open:powermagpie</uri>
        <version>1.0.0</version>
    </identity>
    <info>
        <name>PowerMagpie</name>
        <description>
        </description>
        <type>application</type>
    </info>
    <publisher>
        <name>Laurian Gridinoc</name>
        <uri>http://purl.org/net/laur</uri>
    </publisher>
    <licence>
        <name>GNU General Public License 2.0</name>
        <uri>http://creativecommons.org/licenses/GPL/2.0/</uri>
    </licence>
    <export>
        <uri>
            <match>ffcpl:/PowerMagpie/.*</match>
            <match>ffcpl:/entrypoints.xml</match>
        </uri>
        <class/>
    </export>
    <rewrite>
        <rule>
            <match>ffcpl:/PowerMagpie/(.*)</match>
            <to>ffcpl:/$1</to>
        </rule>
        <rule>
            <match>ffcpl:/</match>
            <to>ffcpl:/index.xml</to>
        </rule>
        <rule>
             <match>ffcpl:/bootstrap</match>
             <to>ffcpl:/bootstrap.js</to>
        </rule>        
        <rule>
             <match>ffcpl:/core</match>
             <to>active:javascript+operator@ffcpl:/lib/concatenate.js+data@ffcpl:/core.js</to>
        </rule>        
        <rule>
             <match>ffcpl:/style</match>
             <to>active:javascript+operator@ffcpl:/lib/concatenate.js+data@ffcpl:/style.js</to>
        </rule>        
        <rule>
            <match>(ffcpl:.*\.idoc.*)</match>
            <to>active:dpml+operand@$1</to>
        </rule>        
        <rule>
            <match>(ffcpl:.*\.bs.*)</match>
            <to>active:beanshell+operator@$1</to>
        </rule>
    </rewrite>
    <mapping>
        <this>
            <match>ffcpl:/.*</match>
            <match>ffcpl:/entrypoints.xml</match>
        </this>
        <import>
            <uri>urn:org:ten60:netkernel:ext:layer1</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:xml:core</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:xml:ura</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:sys</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:dpml</uri>
        </import>
        <import>
            <uri>urn:org:ten60:netkernel:ext:script</uri>
        </import>
        <super/>
    </mapping>
    <dynamic />
</module>
