<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>PowerMagpie Web Application</display-name>
    <servlet>
        <servlet-name>Store</servlet-name>
        <servlet-class>uk.ac.open.powermagpie.servlet.Store</servlet-class>
        <init-param>
            <param-name>talis.store</param-name>
            <param-value>http://api.talis.com/stores/lgridinoc-dev1</param-value>
        </init-param>
        <init-param>
            <param-name>talis.username</param-name>
            <param-value>lgridinoc</param-value>
        </init-param>
        <init-param>
            <param-name>talis.password</param-name>
            <param-value/>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Mount</servlet-name>
        <servlet-class>uk.ac.open.powermagpie.servlet.Mount</servlet-class>
        <init-param>
            <param-name>jar</param-name>
            <param-value>jarrrr</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Store</servlet-name>
        <url-pattern>/store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mount</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.xml</welcome-file>
    </welcome-file-list>
    </web-app>
